.export_btn,
.search_btn {
  background: #42b34d;
  border: none;
}
.export_btn:hover,
.search_btn:hover {
  background: #008000;
}
.dropdown_btn {
  border: none;
  color: black;
  font-size: 16px;
  background: #42b34d !important;
}

.dropdown_btn:hover {
  color: black;
  font-size: 15px;
}

.radio-spacing {
  margin-right: 15px;
}

.dropdown_btn_table {
  border: none;
  color: black;
  font-size: 20px;
  background: none !important;
}

.footer {
  text-align: center;
  align-items: center;
  color: #71797e;
}
